.datatable {
  position: relative;
  &-header {
    position: absolute;
    right: 0;
    top: -43px;
    * {
      margin-left: 6px;
    }
    a {
      transition: none;
    }
  }
  &-actions {
    text-align: center;
    > * {
      margin-left: 7px;
    }
    > :first-child {
      margin-left: 0;
    }
    &-btn {
      background: transparent;
      color: #337ab7;
      cursor: pointer;
      border: none;
      padding: 0;
      &:hover {
        color: #23527c;
        text-decoration: underline;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.ReactTable {
  .rt-thead {
    &.-header {
      border-bottom: 2px solid rgba(0,0,0,0.1);
      box-shadow: none;
    }
    .rt-th {
      font-weight: bold;
      > div {
        padding: 7px 5px;
      }
      &.rt-resizable-header {
        &:focus {
          outline: none;
        }
      }
      &:not(.-cursor-pointer) {
        box-shadow: none;
      }
    }
  }
  .rt-tbody {
    .rt-td {
      border-color: rgba(0,0,0,0.05);
    }
  }
  .pagination-bottom {
    .-pagination {
      box-shadow: none;
    }
  }
}
